.Branding.color {
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 15px;
    margin:10px;
    border: 5px solid #ffffff;
}
.Branding.color.v1 {
    background-color: #353535;
}
.Branding.color.v2 {
    background-color: #737373;
}
.Branding.color.v3 {
    background-color: #7CD8FF;
}
.Branding.color.v4 {
    background-color: #2ea0e8;
}

.Branding.color_line {
    background-color: rgb(231, 231, 231);
    display: flex;
    padding: 5px;
    width: 210px;
    border-radius: 10px;
    margin:15px;
    display: inline-block;
}
.Branding.Color_name {
    color:#353535;
    margin-left: 10px;
}
.Branding.Overview {
    padding: 25px;
    background-color: #7CD8FF;
}
.Branding.image_contener {
    width: 500px;
    max-width: 70%;
    background-color: rgb(231, 231, 231);
    border-radius: 15px;
    margin:15px
}

.Branding.image {
    width: 100%;
}

