.Profile.Avatar {
    border-radius: 180px;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid #2ea0e8;
}

.Profile.Username {
    margin: 10px;
}

.Profile.Bio {
    height: 200px;
    margin: 25px;
    padding: 25px;
    border: 1px solid #b9b9b9;
    border-radius: 12px;
    float: left;
    width: 700px;
}
.Profile.Contener_1 {
    margin:auto;
    display: block;
    width: fit-content;
}
@media (max-width: 750px) {
    .Profile.Bio {
        width: calc(100% - 50px);
    }
    .Profile.Contener_1 {
        width: 100%;
    }
}
.Profile.buttons.br {
    display: none;
}
.Profile.buttons.contener {
    display: flex;
    flex-wrap: wrap;
}
.Profile.button.contener {
    line-height: 50px;
    vertical-align: top;
    border-radius: 90px;
}
/*
@media (max-width: 408px) {
    .Profile.button.view {
        position:absolute;
        left: 0;
        margin-top: 50px;
    }
}
*/
.Profile.User_Contener {
    float: left;
}


.Profile.number_icons {
    width: 35px;
    color: #b9b9b9;
    float: left;
    margin-top: 7px;
}

.Profile.icon_text {
    float: left;
    vertical-align: middle;
    margin-top: 9px;
    padding: 5px;
    font-size: 16px;
}

.Profile.Page_Break {
    clear: left;
}

.Profile.Success {
    height: 200px;
    padding: 25px;
    background-color: rgb(236, 236, 236);
    border-radius: 12px;
    width: 700px;
    max-width: 100%;
    display: block;
    margin-left: auto;  
    margin-top: -200px;
}

.Profile .Success_icon {
    width: 50px;
    color: rgb(43, 43, 43);
}

.Profile .Rewards {
    display: inline;
    position: absolute;
    margin: 12px;
    font-size: 16px;
    font-weight: bold;
}


.Profile .Rewards_box {
    position: relative;
    width: 100%;
    height: 95px;
    padding: 25px 25px 25px 80px;
}

.Profile.Arrows {
    width: 75px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(43, 43, 43);
}
.Profile.Arrows.Left_Arrow {
    left: 0;
}
.Profile.Arrows.Right_Arrow {
    right: 0;
}

.Profile.Rewards_icon {
    width: 45px;
    padding: 4px;
    border-radius: 12px;
    background-color: white;
    margin: 0 5px 0 5px;
}
.Profile.Rewards_icon.gold {
    color: #FFD700;
}
.Profile.Rewards_icon.bronze {
    color: #CD7F32;
}
.Profile.Rewards_icon.silver {
    color: #C0C0C0;
}

.Profile.User_shop {
    width: 245px;
    height: 200px;
    background-color: brown;
    display: inline-block;
    background-color: rgb(236, 236, 236);
    border-radius: 12px;
    padding: 25px;
    position: relative;
}
.Profile.Shop_icon {
    width: 50px;
    color: rgb(43, 43, 43);
}
.Profile.Shop_icon_text {
    display: inline;
    position: absolute;
    margin: 16px;
    font-size: 16px;
    font-weight: bold;
}

.Profile.decal_1 {
    position: absolute;
    bottom: 40px;
    right: 25px;
}

.Profile.Shop_icon_numbers {
    width: 30px;
    color: #2ea0e8;
    float: left;
}

.Profile.icon_text_numbers {
    float: left;
    vertical-align: middle;
    margin-top: 0px;
    padding: 5px;
    font-size: 16px;
}

.Profile.Activity {
    height: 200px;
    margin: 25px;
    padding: 25px;
    border: 1px solid #b9b9b9;
    border-radius: 12px;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.Activity.messages_icon {
    width: 35px;
    float: left;
    margin-top: 27px;
}

.Activity.numbers {
    width: 30px;
    color: rgb(43, 43, 43);
    float: left;
    font-weight: bold;
    margin-top: 34px;
    margin-left: 4px;
    color: rgb(42, 160, 91);
    margin-right: 15px;
    width: auto;
}

.Activity.Chart {
    margin-top: 0;
}

.profile_img.get_user_avatar {
    width: 80px;
    height: 80px;
    border:none;
}

.Profile.Inventory.Contener {
    min-height: 200px;
    margin: 25px;
    padding: 25px;
    border: 1px solid #b9b9b9;
    border-radius: 12px;
    max-width: 972px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.Profile.Inventory.Contener.Empty {
    border: 2px dashed #afafaf;
}
.Profile.Inventory.Message {
    font-size: 25px;
    color: #737373;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.Profile.Items.Contener {
    display: flex;
    flex-wrap: wrap;
}
.Profile.Inventory.Item {
    background-color: #ebebeb;
    border-radius: 12px;
    width: 121.4px;
    height: 121.4px;
    margin-top: 20px;
    transition: 0.2s;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
.Profile.Inventory.Item:hover {
    background-color: #cecece;
}
.Profile.Inventory.Item_Icon {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : 90%;
    cursor: pointer;
}

.Profile.Inventory.Title {
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
}

.Profile.Edit_Profile_Button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 165px;
    right: -20px;
    padding: 0;
    transition: 0.3s;
}
.Profile.Edit_Profile_Button_Icon {
    width: 40px;
    height: 40px;
    color: rgb(39, 39, 39);
    transition: 0.3s;
    cursor: pointer;
}
.Profile.Edit_Profile_Button:hover {
    background-color: rgb(0, 162, 255);
    border-radius: 45px;
    padding: 5px;
}
.Profile.Edit_Profile_Button:hover .Profile.Edit_Profile_Button_Icon {
color: rgb(255, 255, 255);
}
.Profile.Image-Edit.Contener {
    position: relative;
}

.Profile.number_icons.Button {
    color: rgb(0, 162, 255);
}

.Profile.Discord.Button {
    width: 37px;
    margin-left: 14px;
    margin-top: 10px;
}

.cls-1 {
    fill:#b9b9b9;
}
