* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
}
.topbar {
    background-color: white;
    z-index: 3;
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.7);
    -moz-box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.7);
    box-shadow: 4px 3px 6px 0 rgba(0,0,0,0.7);
}
.topbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 60px;
    z-index: 2;
    padding: 3px;
}
.menu a {
    text-decoration: none;
    color:#737373;
    letter-spacing: 2px;
    padding: 0 10px;
    margin-top: 0;
    transition: color 0.5s;
    font-weight: 500;
    font-size: 20px;
}
.menu a:hover, .active { /* Pourquoi les changements de couleur ainsi que le margin-top ne s'appliquent pas ? */
    color: #2EA0E8 !important;
}
.ombre {
    -webkit-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.329);
    -moz-box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.329);
    box-shadow: 4px 3px 6px 0 rgba(0, 0, 0, 0.329);
}



.hr {
    width: 100%;
    height: 3px;
    background-color: #0E76B8;
}
.link {
    text-decoration: none;
    color: #0E76B8;
    font-weight: bold;
}



/* CONTACTS */
.form-container {
    background: white;
    margin: 50px auto 200px;
    width: 70%;
    padding: 20px;
    color: rgb(53, 53, 53);
    border-radius: 4px;
    border: 1px solid #b9b9b9;
}
.form-container h2 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0 0 10px;
}
.contact-form {
    width: 100%;
    margin-top: 20px;
}
.form-line1, .form-line2, .form-line3 {
    display: flex;
}
.contact-form input, .contact-form textarea {
    border: 2px solid #b9b9b9;
    border-radius: 4px;
    width: 100%;
    background: #ffffff;
    color: rgb(53, 53, 53);


    margin: 20px 5px;
    padding: 5px 10;
    outline: none;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: rgb(122, 122, 122);

}
.contact-form textarea {
    resize: none;
    padding: 0 0 100px;
}
.send-container {
    position: relative;
    width: 100%;
    padding-bottom: 40px;
}
.send {
    position: absolute;
    right: 0;
    background: #383838;
    color: #FFFFFF;
    font-weight: bold;
    padding: 7px 10px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
}


    /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(206, 206, 206); 
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2ea0e8;
  }
  
  
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #2ea0e8; 
  }

  

  .profile_img {
    width: 60px;
    height: 60px;
    border-radius: 90px;
    background-color: rgb(218, 218, 218);
    display: inline-block;
}

.heyko_banner_1 {
  max-width:90%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color: rgb(245, 245, 245);
  margin-top: 40px;
  border-radius: 15px;
}

.input_1 {
    padding: 5px;
}
.default_message {
    background-color: #2ea0e8;
    text-align: center;
    width: fit-content;
    padding: 15px 50px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    z-index: 15;
    border-radius: 12px;
}


.default_message.wrong {
    background-color: #ff3c3c;
    color: rgb(255, 255, 255);
    max-width: 90%;
}
.default_message.success {
    background-color: #19ac4a;
    color: rgb(255, 255, 255);
    max-width: 90%;
}
.white_background {
  background-color: rgba(255, 255, 255, 0.596);
  position:fixed;
  
  left:0;
  bottom: 0;
  top:0;
  right: 0;
  z-index: 10;
}
.button.ok {
    font-weight: bold;
    padding: 8px 40px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    margin-bottom: -25px;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 90px;
}
/*
.button.wrong.ok {
    background-color: #ff3c3c;
}
.button.success.ok {
    background-color: #19ac4a;
}
*/