.Welcome.Contener {
    overflow-x:hidden;
    overflow-y: hidden;
    width:100%;
    max-height:100%;
    height: 100vh;
    position: relative;
}




.Welcome.Background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: -1;
}
.Welcome.Background.v1 {
    animation: 2s Transition_1;
    height: 100%;
}
.Welcome.Background.v2 {
    background-color: rgb(53, 53, 53);
    animation: 3s Transition_1;
    height: 100%;
}
.Welcome.Background.v3 {
    background-color: #8fd4ff;
    animation: 4s Transition_1;
    height: 100%;
}
.Welcome.Background.v4 {
    background-color: rgb(53, 53, 53);
    width: 0;
    bottom: 0;
    height: 100%;
    right: none;
    animation: 3s Transition_2;
    width: 100%;
}
@keyframes Transition_1 {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    } 
}
@keyframes Transition_2 {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    } 
}

.Circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: rgb(255, 255, 255);
    position: absolute;
}

.Circle.v1 {
    top: 12px;
    left: -100px;
    animation: 3s Transition_circle_1;
}
@keyframes Transition_circle_1 {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
        top: 100%;
    } 
}
.Circle.v2 {
    bottom: 0;
    width: 150px;
    height: 150px;
    left: -150px;
    animation: 3s Transition_circle_2;
    background-color: rgb(53, 141, 255);
}
@keyframes Transition_circle_2 {
    25% {
        left: -100px;
    }
    100% {
        left: 100%;
        bottom: 80%;
    } 
}
.Circle.v3 {
    top: 0;
    right: -200px;
    width: 200px;
    height: 200px;
    animation: 2s Transition_circle_3;
}
@keyframes Transition_circle_3 {
    25% {
        left: -100px;
    }
    100% {
        left: 100%;
        top: 60%;
    } 
}
.Circle.v4 {
    bottom: 0;
    right: -125px;
    width: 125px;
    height: 125px;
    animation: 5s Transition_circle_4;
}
@keyframes Transition_circle_4 {
    25% {
        bottom: -100px;
    }
    100% {
        right: 100%;
        bottom: 60%;
    } 
}
.Circle.v5 {
    bottom: 200px;
    right: -200px;
    width: 125px;
    height: 125px;
    animation: 2s Transition_circle_5;
    background-color: rgb(53, 141, 255);
}
@keyframes Transition_circle_5 {
    25% {
        bottom: -100px;
    }
    100% {
        right: 100%;
        bottom: 60%;
    } 
}
.Circle.v6 {
    top: 270px;
    z-index: -1;
    animation: 5s Transition_circle_6;
    background-color: #2ea0e8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}
@keyframes Transition_circle_6 {
    0% {
        width: 25px;
        height: 25px;
        border-radius: 75px;
    }
    25% {
        top: 270px;
        left: -125px;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    75% {
        top: 50%;
        left: 50%;
        border-radius: 75px;
    }
    100% {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}
.Circle.v7 {
    bottom: 0;
    right: 0;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    animation: 6s Transition_circle_7;
    background-color: rgb(142, 229, 255);
    z-index: -1;
    opacity: 1;
}
@keyframes Transition_circle_7 {
    0% {
        bottom: -50%;
        right: -50%;     
        opacity: 0; 
    }
    80% {
        bottom: -50%;
        right: -50%; 
        opacity: 0;
    } 
    100%  {
        width: 100vh;
        height: 100vh;
        opacity: 1;
    }
}
.Welcome.example {
    font-weight: bold;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 50px;
    width: 100%;
}
.Welcome.Title_1 {
    animation: 5s Title_Anim;
    font-size: 75px;
    color: rgb(255, 255, 255);
    font-weight: 0;
}
.Welcome.Canvas {   
    background-color: #ffffff; 
    width: 500px; 
    height: 500px;
    margin: 30px auto;
    display: block;
    text-align: justify;
    transition: all 1s ease; 
    border-radius: 400px;
    border: 1px solid #b9b9b9;
} 
.Welcome.profile_tool_bar_colors {
    background-color: white;
    border-radius: 12px;
    position: absolute;
    left: 10px;
    top: 150px;
    bottom: 25px;
    width: 250px;
    padding:0 20px 0 20px;
}
.Welcome.profile_tool_bar_elements {
    background-color: white;
    border-radius: 12px;
    position: absolute;
    right: 10px;
    top: 25px;
    bottom: 25px;
    width: 400px;
    padding:0 20px 0 20px;
}
@media (max-width: 860px) {
    .Welcome.Title_1 {
        font-size: 40px;
        color: rgb(53, 53, 53);
        font-weight: bold;
    }
}
@media (max-width: 459px) {
    .Welcome.Title_1 {
        font-size: 25px;
        color: rgb(53, 53, 53);
        font-weight: bold;
    }
}
@media (max-width: 434px) {
    .Welcome.example {
        font-size: 16px;
    }
}
.Welcome.profile_tool_bar_item {
    width: 40px;
    display: inline-block;
    padding: 4px;
    font-size: 40px;
}
.Welcome.profile_tool_bar_item.v2 {
    margin-top: 1px;
    margin-bottom: 3px;
}
.Welcome.profile_tool_bar_item:hover {
    width: 40px;
    display: inline-block;
    padding: 0;
}
.Welcome.T {
    font-size: 39px;
    margin: 0;
    padding: 0;
    transform: translateY(-3.5px);
}
.Welcome.T:hover {
    font-weight: bold;
}


.Welcome.profile_tool_bar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 380px;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    height: 62px;
}


@media (max-width: 1354px) {
.Welcome.profile_tool_bar_elements {
    display: none;
}
.Welcome.profile_tool_bar_colors {
    width: 200px;
}
.Welcome.Canvas {  
    margin-left: auto;
    margin-right: 0;
}

.Welcome.profile_tool_bar_colors {
    position: absolute;
    left: 0;
    height: fit-content;
    padding:  15px 15px 15px 15px;
}
.Welcome.profile_tool_bar {
    margin-left: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
}
@media (max-width: 537px) {
    .Welcome.Title_2 {
        font-size: 20px;
    }
    .Welcome.profile_tool_bar_colors {
        top: 100px;
    }
}
@media (max-width: 766px) {
    .Welcome.Canvas {  
        width: calc(100% - 225px);
        height: auto;
    }
}
@media (max-width: 766px) {

}

@media (min-width: 861px) {
@keyframes Title_Anim {
    0% {
        font-size: 40px;
        color: rgb(53, 53, 53);
        font-weight: bold;
    }
    85% {
        font-size: 40px;
        color: rgb(53, 53, 53);
        font-weight: bold;
    }
    100% {
        font-size: 75px;
        color: rgb(255, 255, 255);
        font-weight: 0;
    }
}
}
@media (max-width: 399px) {
    .Welcome.profile_tool_bar_item {
        width: 20px;
        display: inline-block;
        padding: 4px;
        font-size: 20px;
    }
    .Welcome.profile_tool_bar {
        height: 43px;
        width: 235px;
    }
    .Welcome.T {
        font-size: 18px;
        margin-top: 4px;
    }
}


.Welcome.example.v1 {
    margin-top: 50px;
    animation: 6s Infos_Anim_1;
}
@keyframes Infos_Anim_1 {
    0% {
        left: -500px;
    }
    80% {
        left: -500px;
    }
    100% {
        left: 50px;
    
    }
}
.Welcome.example.v2 {
    margin-top: 100px;
    animation: 7s Infos_Anim_2;
}
@keyframes Infos_Anim_2 {
    0% {
        left: -500px;
    }
    80% {
        left: -500px;
    }
    100% {
        left: 50px;
    
    }
}
.Welcome.example.v3 {
    margin-top: 150px;
    animation: 8s Infos_Anim_3;
}
@keyframes Infos_Anim_3 {
    0% {
        left: -500px;
    }
    80% {
        left: -500px;
    }
    100% {
        left: 50px;
    
    }
}
.Welcome.example.v4 {
    margin-top: 200px;
    animation: 9s Infos_Anim_4;
}
@keyframes Infos_Anim_4 {
    0% {
        left: -500px;
    }
    80% {
        left: -500px;
    }
    100% {
        left: 50px;
    
    }
}
.Welcome.examples {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 285px;
    width: 400px;
}
.Welcome.decal_1 {
    margin-top: 275px;
    margin-left: 50px;
    animation: 1s Next_anim;
    opacity: 1;
}
@keyframes Next_anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    
    }
}

.Welcome.transition_2 {
    background-color: white;
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    animation: 1s transition_next_1;
}
@keyframes transition_next_1 {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    
    }
}
.Welcome.transition_3 {
    background-color: #2ea0e8;
    background-image   : url("../../img/Five_Mysteries_Banner_1.webp");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin-left:0;
    animation: 1s transition_next_2;
}
@keyframes transition_next_2 {
    0% {
        margin-left: -100%;
    }
    100% {
        margin-left: 0;
    
    }
}

.Welcome.profile_tool_bar_item_button {
    background-color: transparent;
    border: none;
}


.Welcome.Color_picker {
    background-color: transparent;
    border: none;
    width:100%;
    -webkit-appearance: none;
	height: 32px;
}
.Welcome.Color_picker[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

.Welcome.Color_picker[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius:4px;
    border: 2px solid #b9b9b9;
}
.Welcome.profile_tool_bar_titles {
    font-weight: bold;
    font-size: 17px;
    color: #353535;
    display: inline-block;
}

.Welcome.Color_Checkbox {
    display: inline-block;
}

.Welcome.Slider_1 {
    -webkit-appearance: none;
    width: 95px;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 15px;
    position: absolute;
    right: 20px;
    margin-top: -35px;
}

.Welcome.Slider_1:hover {
    opacity: 1;
}

.Welcome.Slider_1::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #2ea0e8;
    cursor: pointer;
}

.Welcome.Slider_value {
    margin-top: 12px;
}



.Welcome.profile_tool_bar_elements_contener {
    background-color: rgb(241, 241, 241);
    padding: 15px;
    overflow-y: scroll;
    position: absolute;
    bottom: 20px;
    top: 80px;
    width: calc(100% - 40px);
}
.Welcome.profile_tool_bar_item_button {
    display: inline-block;
}
.Welcome.profile_tool_bar_item_button {
    float: left;
}
.Welcome.profile_tool_bar_elements_breaker {
    clear: left;
}
.Welcome.profile_tool_bar_elements_color {
    width: 15px;
    height: 15px;
    margin: 4px;
    border-radius: 12px;
}
.Welcome.profile_tool_bar2_item_button {
    background-color: transparent;
    border: none;
    float: left;
    margin-top:-3px;
    background-color: white;
    border-radius: 12px;
    margin-left: 26px;
}

.Welcome.profile_tool_bar_item_text {
    clear: left;
    font-weight: bold;
}